<h1 class="text-center">Add new List<h1>
<div class="container">
  <%= simple_form_for [@list] do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Add Movie List", class: "btn btn-primary" %>
  <% end %>
</div>