.btn-submit{
  padding: 1rem 2rem;
  background-color: greenyellow;
  border-radius: 3rem;
  font-family: 'Space Grotesk', sans-serif;
}

.btn-submit:hover {
  // background-color: rgb(171, 201, 126);
  background-color: greenyellow;
  transform: scale(1.1);
  opacity: .5;
}
