// ALL

.header-container {
  font-family: 'Black Ops One', cursive;
  padding: 1rem 0;
  border-bottom: 2px solid crimson;
  height: 75px;
  margin-bottom: 2rem;
  background-color: greenyellow;
  color: crimson;
}

a {
text-decoration: none;
color: black;
}

//INDEX PAGE

.list-container {
  height: 200px;
  width: 300px;
  background-repeat: no-repeat;
  border: 1px solid greenyellow;
}

.list-container:hover {
  transform: scale(1.1);
  opacity: .5;
}


.list-name {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  // color:rgb(52, 231, 46);
  color: greenyellow;
  text-shadow: 1px 1px crimson;
}

// SHOW PAGE

.movie-container {

  border: 2px solid greenyellow;
  border-radius: 5px;
}

.image-container img {
  border-radius: 10px;
}
